.canvas_wrap canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .tippy-box[data-theme~='slixol'] {
    .testimonial_tooltip {
      width: 100%;
      max-width: 25.5rem;
      padding-top: var(--size--1rem);
      padding-right: var(--size--1rem);
      padding-bottom: var(--size--1rem);
      padding-left: var(--size--1rem);
      border-top-style: solid;
      border-top-width: 1px;
      border-top-color: var(--swatch--light-faded);
      border-right-style: solid;
      border-right-width: 1px;
      border-right-color: var(--swatch--light-faded);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: var(--swatch--light-faded);
      border-left-style: solid;
      border-left-width: 1px;
      border-left-color: var(--swatch--light-faded);
      border-top-left-radius: var(--size--1-25rem);
      border-top-right-radius: var(--size--1-25rem);
      border-bottom-left-radius: var(--size--1-25rem);
      border-bottom-right-radius: var(--size--1-25rem);
      background-image: linear-gradient(135deg, hsla(0, 0.00%, 100.00%, 0.70), hsla(0, 0.00%, 100.00%, 0.60));
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(25px);
      color: var(--swatch--dark);
    }
  }