
.tippy-box[data-theme~='slixol'] {
  width: 100%;
  max-width: 25.5rem;
  padding: var(--size--1rem);
  border: 1px solid var(--swatch--light-faded);
  border-radius: var(--size--1-25rem);
  background-image: linear-gradient(135deg, hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.6));
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(25px);
  color: var(--swatch--dark);
}
